
<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">Surfpoint Mithukerukun</h1>
    <h2 class="text-white">Program is a service that you can post surfpoint.</h2>
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <%= link_to 'Find Point', '/map/index', class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'Point save', '/pointsave/index',class: 'btn btn-block btn-white' %>
      </div>
    </div>
  </div>
</div>
<style>
@media (max-width: 670px) {
  .top-hero-wrapper {

    background: image-url('DSC04174.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-color: #464646;
  }
  .top-hero-container {

    padding-top: 70px;
    h1 {
      font-size: 56px;
      margin-bottom: 20px;
    }

    h2 {
      margin-bottom: 60px;
    }
  }
  .text-white {
  color: #fff;
  font-size: 30px;
  text-align: center;

  }
 .btn-white {
   width: 40%
  opacity: 0.7;
  color: black;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  background-color: white;
  margin-top: 50px;
  &:hover {
    color: #fff;
  }
}
}
</style>
