h1, h2 {
  font-weight: 100;
}

.btn-line {
  ul,li{
  display: inline-block;
  margin-right: 50px;
  margin: 0px;
  margin-top: 5px;
}
}
.text-white {
  color: #fff;
  font-size: 30px;
}

.btn-white {
  opacity: 0.7;
  color: black;
  border: 1px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 30px;
  background-color: white;
  margin-top: 100px;
  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background: image-url('DSC04174.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
}
.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('bg-top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
  .users-new-container {
    padding-top: 220px;
}
.form-group {
  margin-bottom: 20px;
}
.text-white {
  color: Black;
}


.btn-new{
  color: black;
  border: 1px solid #565656;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  background-color: white;
}
.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  font-size: 15px;
  background-color: white;

  &:hover {
    color: #565656;
  }
}
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
